* {
    margin: 0 auto;
}

h2 {
    font-weight: 500;
}

.icon-red {
    color: #CD0C0D;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.875rem;
    line-height: 1.8;
}

header {
    text-align: center;
}

header h2 {
    color: #CD0C0D;
    font-weight: bold;
    padding: 20px;
}

header nav ul {
    padding: 0;
    background-color: #CD0C0D;
    padding: 5px;
}

header nav ul li {
    display: inline;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}

header nav ul li a:hover {
    background-color: white;
    color: #CD0C0D;
}

main {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row-reverse;
}

.content {
    flex-basis: 75%;
    margin: 15px;
}

main .content .header-content h2 {
    background-color: #FF89B5;
    text-shadow: #fff 1px 1px 0;
    color: #ff005f;
    padding: 5px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

main .content article .sub-article {
    border-bottom: 1px dotted #FF89B5;
    padding: 15px 0;
    margin-bottom: 5px;
}

main .content article .sub-article h2 {
    text-transform: uppercase;
    display: inline;
    font-size: small;
    padding: 3px 12px;
    border-radius: 5px;
    color: #fff;
    background-color: #9900F0;
}

main .content article .sub-article .h2-jurusanku {
    text-transform: uppercase;
    display: inline;
    font-size: small;
    padding: 3px 12px;
    border-radius: 5px;
    color: #fff;
    background-color: #F24C4C;
}

main .content article .sub-article p {
    margin-top: 7px;
    margin-bottom: -4px;
    color: #ff005f;
    font-size: 1.225rem;
}

main .content article .sub-article blockquote {
    text-align: center;
    color: #868e96;
    font-size: large;
    font-style: italic;
}

main .content article .sub-article .supersub-article {
    color: #868e96;
}

main .content article .sub-article .supersub-article ul {
    padding: 0;
}

main .content article .sub-article .supersub-article ol li {
    font-size: small;
    line-height: 1.4;
}

main .content article .sub-article .supersub-article ul li {
    list-style-type: none;
    padding: 0;
    font-size: small;
    line-height: 1.4;
}

main .content article .bottom-article {
    text-align: center;
    color: #868e96;
    font-size: small;
    line-height: 1.4;
    margin-top: 10px;
}

aside {
    flex-basis: 25%;
    margin: 15px;
}

aside .aside-article {
    margin-bottom: 20px;
}

aside .aside-article .aside-header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #FF89B5;
}

aside .aside-article .aside-header h2 {
    text-align: center;
    text-shadow: #fff 1px 1px 0;
    color: #ff005f;
}


aside .aside-article .sub-aside {
    border: 1px solid #FF89B5;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 10px 10px 20px 10px;
    text-align: center;
}

aside .aside-article .sub-aside div {
    border-bottom: 1px dotted #FF89B5;
    margin-bottom: 20px;
}

aside .aside-article .sub-aside .selengkapnya {
    color: white;
    background-color: #ff005f;
    padding: 0.55rem 0.75rem;
    font-size: 14px;
    border-width: 1px;
    border-radius: 50px;
    text-decoration: none;
}

aside .aside-article .sub-aside img {
    height: 100px;
    border-radius: 100%;
}

aside .aside-article .sub-aside .aside-content-name {
    margin-top: 7px;
    margin-bottom: -4px;
    color: #ff005f;
    font-size: 1.225rem;
}

aside .aside-article .sub-aside .aside-content {
    font-size: small;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: small;
    padding: 10px;
}

@media only screen and (max-width: 750px) {
    main {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }
}